* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

.u-margin-2-top {
  margin-top: 2rem;
}

.u-width-70 {
  width: 70%;
}

.u-width-30 {
  width: 30%;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(/fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(/fonts/Gilroy-ExtraBold.otf);
}

header {
  background-color: #101820ff;
  color: #fee715ff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  padding: 1.5rem;
  position: relative;
}

.navbar__left {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__right-photos {
  margin-left: 1.25rem;
}

@media screen and (max-width: 800px) {
  .navbar__right {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .navbar__right.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1rem;
  }
}

.navbar ul {
  list-style-type: none;
}

@media screen and (max-width: 800px) {
  .navbar ul li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5rem;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar a:link, .navbar a:visited {
  color: #fee715ff;
  text-decoration: none;
}

.navbar__toggle {
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  width: 2rem;
  height: 1.25rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__toggle-bar {
  width: 100%;
  height: 0.3rem;
  background-color: #fff;
  border-radius: 1rem;
}

@media screen and (max-width: 800px) {
  .navbar__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel {
  height: 95vh;
  overflow: hidden;
  z-index: 100;
  position: relative;
}

@media screen and (max-width: 800px) {
  .carousel {
    height: 50vh;
  }
}

.carousel__imagecontainer {
  max-width: 100%;
  position: relative;
  height: 95vh;
}

@media screen and (max-width: 800px) {
  .carousel__imagecontainer {
    height: 50vh;
  }
}

.carousel__image {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .carousel__image {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 45vh);
            clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 45vh);
  }
}

.competitions {
  background-color: #101820ff;
  max-width: 100%;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  color: #fff;
  font-size: 0.75rem;
  font-family: "Gilroy-Light";
  margin-top: -20vh;
}

.competitions > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
  padding: 15rem 3rem 17rem 3rem;
}

@media screen and (max-width: 1000px) {
  .competitions > * {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10rem 0 12rem 0;
  }
}

.competitions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3.5rem;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .competitions__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 1.5rem 0;
  }
}

.competitions__imagecontainer {
  max-width: 18rem;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .competitions__imagecontainer {
    position: relative;
  }
}

.competitions__imagecontainer::before {
  position: absolute;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-family: "Gilroy-Bold";
  font-size: 3rem;
  z-index: 10;
  width: 2rem;
  height: 2rem;
}

.competitions__imagecontainer-left::before {
  content: "2019";
  top: 85%;
  left: 1.5rem;
  color: #0569da;
}

@media screen and (max-width: 1000px) {
  .competitions__imagecontainer-left::before {
    left: 0;
  }
}

.competitions__imagecontainer-center::before {
  content: "2018";
  top: 8%;
  left: 1.5rem;
  color: #ff5e1f;
}

@media screen and (max-width: 1000px) {
  .competitions__imagecontainer-center::before {
    left: 0;
    top: 30%;
  }
}

.competitions__imagecontainer-right::before {
  content: "2019";
  top: 85%;
  left: 1.5rem;
  color: #ff5e1f;
}

@media screen and (max-width: 1000px) {
  .competitions__imagecontainer-right::before {
    left: 0;
  }
}

.competitions__image {
  width: 25rem;
  position: relative;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
          mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.competitions__text {
  max-width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .competitions__text-left {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .competitions__text-center {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .competitions__text-right {
    margin-top: 2rem;
    margin-right: 2rem;
  }
}

.competitions__heading {
  max-width: 18rem;
  text-align: left;
  font-size: 1.25rem;
  display: inline;
}

.competitions__p {
  max-width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem 0;
  line-height: 1rem;
}

.album {
  max-width: 100%;
  padding: 10rem 3rem;
  background-color: #101820ff;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  color: #fee715ff;
}

.album > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.album__heading {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album__heading::before {
  content: "";
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  width: 7rem;
  height: 7rem;
  background-color: #fee715ff;
  margin-right: 1rem;
}

.album__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album__images-imagecontainer {
  width: 100%;
}

.map {
  padding: 10rem 3rem;
  margin-top: -20vh;
  background-color: #fee715ff;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  max-width: 100%;
}

.map__mapcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .map__mapcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.map__details {
  margin-left: 5rem;
  padding-top: 5rem;
}

@media screen and (max-width: 1000px) {
  .map__details {
    margin-left: 0;
  }
}

.map__detail {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__detail-svg {
  width: 2rem;
  height: 2rem;
}

.map__detail-text {
  font-size: 1rem;
}

.map__detail:not(:first-child) {
  margin-top: 2rem;
}
/*# sourceMappingURL=styles.css.map */