* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 56.25%;
  }
}

#header {
  width: 100%;
  background-color: #070d2d;
  position: fixed;
  z-index: 10000;
}

.navbar {
  color: #fe5430;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
}

.navbar__brand {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__list {
  padding-right: 3.25rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__list > *:not(:last-child) {
  margin-right: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .navbar__list {
    padding-right: 0;
  }
}

.navbar__search {
  width: 1.75rem;
  height: 1.75rem;
}

.first {
  background-color: #070d2d;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  padding: 2.5rem;
}

.first__heading {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first__heading-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32rem;
  font-size: 4rem;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.first__heading-secondary {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

#toggleContainer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95vw;
  position: absolute;
}

#toggleContainer label {
  text-align: center;
  width: 70px;
}

#container {
  margin-top: 8rem;
  height: 50vh;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#tilesContainer {
  min-height: 90vh;
  max-height: 100vh;
  width: 100vw;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tileItem {
  width: 25rem;
  height: 25rem;
  margin: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tileItem:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#galleryContainer {
  height: 500px;
  width: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#loading-image {
  width: 10rem;
  height: 10rem;
}

#toggle {
  height: 10vh;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

#tilesView {
  min-height: 100vh;
  max-width: 100%;
  background: #f6d26a;
  background: linear-gradient(111deg, #f6d26a 0%, #ff9f00 52%, #fbc564 100%);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#galleryView {
  height: 100%;
  margin: 0 auto;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, right top, left top, from(#070d2d), color-stop(#212841), to(#070d2d));
  background-image: linear-gradient(270deg, #070d2d, #212841, #070d2d);
  margin: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  #galleryView {
    margin: 0.5rem;
  }
}

#mainView {
  height: auto;
  width: 25rem;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: none;
}

#mainView:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#leftView {
  height: 25rem;
  width: 8%;
  border-radius: 5px;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
          clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#rightView {
  height: 25rem;
  width: 8%;
  border-radius: 5px;
  -webkit-clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
          clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.navBtns {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .navBtns {
    opacity: 0;
    visibility: hidden;
  }
}

.navBtns:hover {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #fe5430;
}

#navLeft {
  left: 20%;
  display: none;
}

#navLeft svg {
  width: 5rem;
  height: 5rem;
}

#navRight {
  right: 20%;
  display: none;
}

#navRight svg {
  width: 5rem;
  height: 5rem;
}

#linkTag {
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info {
  background-color: rgba(7, 13, 45, 0.95);
  background-color: #070d2d;
  padding: 4rem;
  padding-bottom: 1rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.card > *:not(:last-child) {
  margin-right: 3rem;
}

.card__area-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fe5430), to(rgba(254, 84, 48, 0.75)));
  background-image: linear-gradient(#fe5430, rgba(254, 84, 48, 0.75));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.card__image {
  height: 100%;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.card__content {
  position: absolute;
  left: 50%;
  color: #fff;
  text-align: center;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in 0.2s;
  transition: all 0.2s ease-in 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__content h1 {
  padding-bottom: 1rem;
}

.card__first {
  height: 50rem;
  width: 25rem;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  background-color: #fe5430;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__first-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fe5430), to(rgba(254, 84, 48, 0.5))), url(../assets/coordinator.webp);
  background-image: linear-gradient(#fe5430, rgba(254, 84, 48, 0.5)), url(../assets/coordinator.webp);
}

.card__first:hover .card__first-image {
  -webkit-transform: translateY(-32%);
          transform: translateY(-32%);
  background-image: url(../assets/coordinator.webp);
}

.card__first:hover .card__first-content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
}

.card__first:hover .card__area-card {
  opacity: 1;
}

.card__second {
  height: 50rem;
  width: 25rem;
  background-color: #fff;
  overflow: hidden;
  background-color: #fe5430;
  position: relative;
}

.card__second-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fe5430), to(rgba(254, 84, 48, 0.5))), url(../assets/IMG_1639.webp);
  background-image: linear-gradient(#fe5430, rgba(254, 84, 48, 0.5)), url(../assets/IMG_1639.webp);
}

.card__second-content {
  margin-top: 2.5rem;
}

.card__second:hover .card__second-image {
  -webkit-transform: translateY(-32%);
          transform: translateY(-32%);
  background-image: url(../assets/IMG_1639.webp);
}

.card__second:hover .card__second-content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
}

.card__second:hover .card__area-card {
  opacity: 1;
}

.card__third {
  height: 50rem;
  width: 25rem;
  background-color: #fff;
  position: relative;
  background-color: #fe5430;
  overflow: hidden;
}

.card__third-image {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fe5430), to(rgba(254, 84, 48, 0.5))), url(../assets/members.webp);
  background-image: linear-gradient(#fe5430, rgba(254, 84, 48, 0.5)), url(../assets/members.webp);
  background-size: cover;
}

.card__third-content {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__third-content h1 {
  font-size: 2rem;
}

.card__third-content svg {
  width: 3rem;
  height: 3rem;
}

.card__third-content a:link,
.card__third-content a:visited {
  text-decoration: none;
  color: inherit;
}

.card__third:hover .card__third-image {
  -webkit-transform: translateY(-32%);
          transform: translateY(-32%);
  background-image: url(../assets/members.webp);
}

.card__third:hover .card__third-content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
}

.card__third:hover .card__area-card {
  opacity: 1;
}

@media screen and (max-width: 780px) {
  .card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .card__image {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  .card__area-card {
    background-image: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .card__content {
    width: 100%;
    height: 30%;
    position: unset;
    display: block;
    text-align: unset;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: none;
    transition: none;
  }
  .card__first {
    height: 40rem;
    width: 35rem;
    color: WHITE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__first-image {
    background-image: url(../assets/coordinator_phone.webp);
  }
  .card__first:hover .card__first-image {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: url(../assets/coordinator_phone.webp);
  }
  .card__first:hover .card__first-content {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .card__first:hover .card__area-card {
    opacity: unset;
  }
  .card__second {
    height: 40rem;
    width: 35rem;
    color: WHITE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__second-image {
    background-image: url(../assets/IMG_1639_phone.webp);
  }
  .card__second-content {
    margin-top: 0rem;
  }
  .card__second:hover .card__second-image {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: url(../assets/IMG_1639_phone.webp);
  }
  .card__second:hover .card__second-content {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .card__third {
    height: 40rem;
    width: 35rem;
    color: WHITE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__third-image {
    background-image: url(../assets/members_phone.webp);
  }
  .card__third-content {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card__third-content h1 {
    font-size: 2rem;
  }
  .card__third-content span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card__third-content svg {
    width: 3rem;
    height: 3rem;
  }
  .card__third-content a:link,
  .card__third-content a:visited {
    text-decoration: none;
    color: inherit;
  }
  .card__third:hover .card__third-image {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: url(../assets/members_phone.webp);
  }
  .card__third:hover .card__third-content {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.album {
  max-width: 100%;
  padding-left: 13.5%;
  background-color: #070d2d;
  color: #fe5430;
  padding-bottom: 1%;
  padding-top: 1%;
}

.album__heading {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.album__heading span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.album__heading::before {
  content: "";
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  width: 10rem;
  height: 10rem;
  background-color: #fe5430;
  margin-right: 1rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2%;
}

@media only screen and (max-width: 780px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.images {
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 780px) {
  .images {
    width: 85%;
    margin: auto;
    padding: inherit;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1050px) {
  .images {
    width: 80%;
  }
}

.images img {
  margin: 0.35%;
  border: 1px solid transparent;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media only screen and (max-width: 780px) {
  .images img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 3%;
    -webkit-filter: none;
            filter: none;
  }
}

.images img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  z-index: 999;
  position: relative;
}

@media only screen and (max-width: 780px) {
  .images img:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-filter: none;
            filter: none;
  }
}

.type1 {
  width: 57%;
  height: 55vh;
}

@media only screen and (min-width: 780px) and (max-width: 1050px) {
  .type1 {
    height: 35vh;
  }
}

.type2 {
  width: 38%;
  height: 55vh;
}

@media only screen and (min-width: 780px) and (max-width: 1050px) {
  .type2 {
    height: 35vh;
  }
}

.type3 {
  width: 96%;
  height: 85vh;
}

@media only screen and (min-width: 780px) and (max-width: 1050px) {
  .type3 {
    height: 45vh;
  }
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10rem 10rem;
  background-color: #070d2d;
}

@media screen and (max-width: 900px) {
  .map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10rem 5rem;
  }
}

.map__image {
  width: 35%;
  border: 2px solid #fe5430;
  border-radius: 4px;
  padding: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 900px) {
  .map__image {
    width: 70%;
  }
}

@media screen and (max-width: 780px) {
  .map__image {
    width: 85%;
  }
}

@media screen and (max-width: 400px) {
  .map__image {
    width: 100%;
  }
}

.map__image-img {
  display: none;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.map__image:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.map__loading {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: block;
  padding: 6rem;
}

.map__link {
  color: #fe5430;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: auto;
}

.map__link:link, .map__link:visited {
  text-decoration: none;
}

.map__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fe5430;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5rem;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1.75rem;
  letter-spacing: 0.02rem;
}

@media screen and (max-width: 900px) {
  .map__content {
    margin-left: 0;
    margin-top: 5rem;
    padding: 0 5rem;
  }
}

@media screen and (max-width: 600px) {
  .map__content {
    padding: 0 3rem;
  }
}

.map__content-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.map__content-text {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.map__content-text:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.map__content-address svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.map__content-phone {
  margin-top: 2rem;
}

.map__content-phone svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 6rem;
}

.u-margin-left-verysmall {
  margin-left: 0.2rem;
}

.footer {
  text-align: center;
  color: lightgrey;
  width: 100%;
  height: auto;
  padding: 1.5rem 0rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#070d2d), color-stop(#212841), to(#070d2d));
  background-image: linear-gradient(270deg, #070d2d, #212841, #070d2d);
}

@media screen and (max-width: 780px) {
  .footer {
    padding: 1.5rem 0 0 0;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 780px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__navigation {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: inline-block;
}

@media screen and (max-width: 780px) {
  .footer__navigation {
    padding-top: 0;
    padding-bottom: 0rem;
  }
}

.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__item {
  display: inline-block;
  font-size: 1.2rem;
}

.footer__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__link:hover {
  color: #fe5430;
}

.footer__item a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.footer__item a:hover {
  color: #fe5430;
}

.footer__college {
  display: inline-block;
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-right: 7rem;
  margin-left: 7rem;
}

@media only screen and (max-width: 780px) {
  .footer__college {
    margin: auto;
  }
}

@media screen and (max-width: 780px) {
  .footer__college {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.webdev a {
  color: white;
}

.build {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 780px) {
  .build {
    padding-top: 0rem;
  }
}

.container a {
  color: lightgrey;
}

.navbar a {
  color: #fe5430;
  text-decoration: none;
}

.scrollup {
  position: fixed;
  bottom: 4rem;
  right: 2.5rem;
  z-index: 100;
}

.scrollup__link:link, .scrollup__link:visited {
  text-decoration: none;
  height: 4rem;
  width: 3rem;
  display: block;
}

.scrollup__link svg {
  width: 100%;
  height: 100%;
  color: #fe5430;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transform: all 0.3s;
          transform: all 0.3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup__member {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup__member > *:not(:last-child) {
  margin-right: 0.5rem;
}

.popup__member img {
  width: 3rem;
  height: 3rem;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .popup__member img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.popup__member:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.popup__memberlist {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem;
  padding-right: 6rem;
  font-size: 1.5rem;
}

.popup__memberlist a:link, .popup__memberlist a:visited {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .popup__memberlist {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 700px) {
  .popup__memberlist {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.popup__content {
  color: orange;
  width: 75%;
  height: 60rem;
  background-color: #fff;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .popup__content {
    width: 85%;
  }
}

.popup__content svg {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: #fff;
  z-index: 10000;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .popup__content svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 780px) {
  .popup__content svg {
    width: 2.25rem;
    height: 2.25rem;
  }
}

@media (min-width: 700px) and (max-width: 780px) {
  .popup__content svg {
    top: 0.75rem;
    right: 0.75rem;
  }
}

.popup__close-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: -1;
}

.popup:target .popup__close-bg {
  display: block;
}

.webdev-area-popup {
  background-image: -webkit-gradient(linear, right top, left top, from(#070d2d), color-stop(#212841), to(#070d2d));
  background-image: linear-gradient(270deg, #070d2d, #212841, #070d2d);
  position: relative;
  width: 100%;
  height: 100%;
}

.area-popup {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fe5430), to(rgba(254, 84, 48, 0.75)));
  background-image: linear-gradient(#fe5430, rgba(254, 84, 48, 0.75));
  position: relative;
  width: 100%;
  height: 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.webdevpopup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transform: all 0.3s;
          transform: all 0.3s;
}

.webdevpopup:target {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.webdevpopup__content {
  color: orange;
  width: 75%;
  height: 60rem;
  background-color: #fff;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .webdevpopup__content {
    width: 85%;
  }
}

.webdevpopup__content svg {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: #fff;
  z-index: 10000;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .webdevpopup__content svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 780px) {
  .webdevpopup__content svg {
    width: 2.25rem;
    height: 2.25rem;
  }
}

@media (min-width: 700px) and (max-width: 780px) {
  .webdevpopup__content svg {
    top: 0.75rem;
    right: 0.75rem;
  }
}

.webdevpopup__cardlist {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.webdevpopup__cardlist > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.webdevpopup__card {
  position: relative;
  width: 50%;
  height: 17rem;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .webdevpopup__card {
    width: 70%;
  }
}

@media screen and (max-width: 450px) {
  .webdevpopup__card {
    width: 75%;
  }
}

.webdevpopup__card-first::before {
  background-image: url(../assets/arjun.jpg);
}

.webdevpopup__card-second::before {
  background-image: url(../assets/arihant.jpg);
}

.webdevpopup__card-third::before {
  background-image: url(../assets/harshit.jpg);
}

.webdevpopup__card-svgs {
  position: absolute;
  top: 0;
  width: 25%;
  z-index: 100;
  background-color: rgba(7, 13, 45, 0.3);
  border-radius: 5px;
  padding: 0.5rem 0 0.25rem 0;
}

@media screen and (max-width: 500px) {
  .webdevpopup__card-svgs {
    width: 29%;
  }
}

.webdevpopup__card-svgs > *:first-child {
  margin-left: 1rem;
}

@media screen and (max-width: 800px) {
  .webdevpopup__card-svgs > *:first-child {
    margin-left: 0.5rem;
  }
}

.webdevpopup__card-svgs > *:not(:last-child) {
  margin-right: 1.25rem;
}

@media screen and (max-width: 810px) {
  .webdevpopup__card-svgs > *:not(:last-child) {
    margin-right: 0.8rem;
  }
}

@media screen and (max-width: 420px) {
  .webdevpopup__card-svgs > *:not(:last-child) {
    margin-right: 0.4rem;
  }
}

.webdevpopup__card-svgs--icon {
  height: 1.75rem;
  width: 1.75rem;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .webdevpopup__card-svgs--icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.webdevpopup__card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.webdevpopup__card:hover::before {
  -webkit-filter: none;
          filter: none;
}

.webdevpopup__name {
  position: absolute;
  bottom: 2%;
  right: 20%;
  font-size: 5rem;
  font-weight: 900;
  color: #fff;
  z-index: 2;
}

@media screen and (max-width: 550px) {
  .webdevpopup__name {
    font-size: 4.5rem;
    right: 15%;
  }
}

@media screen and (max-width: 420px) {
  .webdevpopup__name {
    font-size: 4.25rem;
    right: 15%;
  }
}

@media screen and (max-width: 350px) {
  .webdevpopup__name {
    font-size: 4rem;
    right: 15%;
  }
}

.webdevpopup__detail {
  position: absolute;
  right: 0;
  background-color: #fff;
  height: 100%;
  width: 12.5%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-filter: none;
          filter: none;
}

.webdevpopup__detail-roll {
  position: absolute;
  top: 10%;
  left: 2%;
  font-size: 1.25rem;
  color: #070d2d;
  z-index: 2;
}

.webdevpopup__detail-round {
  position: absolute;
  bottom: 10%;
  right: 10%;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: block;
}

.webdevpopup__detail-background {
  position: absolute;
  bottom: 12%;
  right: 12%;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 500px) {
  .webdevpopup__detail-background {
    bottom: 18%;
    right: 10%;
  }
}

@media screen and (max-width: 430px) {
  .webdevpopup__detail-background {
    bottom: 19%;
    right: 5%;
  }
}

.webdevpopup__detail-background--1 {
  background-image: radial-gradient(#17b978, #17b978);
}

.webdevpopup__detail-background--2 {
  background-image: radial-gradient(#e42a5b, #e42a5b);
}

.webdevpopup__detail-background--3 {
  background-image: radial-gradient(#185adb, #185adb);
}

.webdevpopup__card:hover .webdevpopup__detail .webdevpopup__detail-background {
  -webkit-transform: scale(12);
          transform: scale(12);
}

@media screen and (max-width: 900px) and (min-width: 750px) {
  .webdevpopup__card:hover .webdevpopup__detail .webdevpopup__detail-background {
    -webkit-transform: scale(10);
            transform: scale(10);
  }
}

@media screen and (max-width: 650px) {
  .webdevpopup__card:hover .webdevpopup__detail .webdevpopup__detail-background {
    -webkit-transform: scale(10);
            transform: scale(10);
  }
}

@media screen and (max-width: 500px) {
  .webdevpopup__card:hover .webdevpopup__detail .webdevpopup__detail-background {
    -webkit-transform: scale(8.4);
            transform: scale(8.4);
  }
}

@media screen and (max-width: 430px) {
  .webdevpopup__card:hover .webdevpopup__detail .webdevpopup__detail-background {
    -webkit-transform: scale(8.3);
            transform: scale(8.3);
  }
}

.webdevpopup__card:hover .webdevpopup__detail .webdevpopup__detail-roll {
  color: #fff;
}

.webdevpopup__close-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: -1;
}

.webdevpopup:target .webdevpopup__close-bg {
  display: block;
}
/*# sourceMappingURL=styles.css.map */