* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  // background-color: #101820ff;
}

//utitlity
.u-margin-2-top {
  margin-top: 2rem;
}

//////////////
@font-face {
  font-family: "Gilroy-Light";
  src: url(/fonts/Gilroy-Light.otf);
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(/fonts/Gilroy-ExtraBold.otf);
}
header {
  background-color: #101820ff;
  color: #fee715ff;
}
.navbar {
  display: flex;
  font-size: 1.25rem;
  padding: 1.5rem;
  position: relative;
  &__left {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
    &-about {
    }
    &-photos {
      margin-left: 1.25rem;
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  &__right.active {
    @media screen and (max-width: 800px) {
      display: flex;
    }
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  ul {
    list-style-type: none;
    li {
      @media screen and (max-width: 800px) {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        margin: auto;
      }
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }
  }
  a {
    &:link,
    &:visited {
      color: #fee715ff;
      text-decoration: none;
    }
  }
  &__toggle {
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 2rem;
    height: 1.25rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &-bar {
      width: 100%;
      height: 0.3rem;
      background-color: #fff;
      border-radius: 1rem;
    }
    @media screen and (max-width: 800px) {
      display: flex;
    }
  }
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel {
  height: 95vh;
  overflow: hidden;
  z-index: 100;
  position: relative;
  @media screen and (max-width: 800px) {
    height: 50vh;
  }
  &__imagecontainer {
    max-width: 100%;
    position: relative;
    height: 95vh;
    @media screen and (max-width: 800px) {
      height: 50vh;
    }
  }
  &__image {
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);
    width: 100%;
    height: 100%;
    @media screen and (max-width: 800px) {
      clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 45vh);
    }
  }
}

.competitions {
  background-color: #101820ff;
  max-width: 100%;

  transform: skewY(-7deg);
  color: #fff;
  font-size: 0.75rem;
  font-family: "Gilroy-Light";
  margin-top: -20vh;
  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skewY(7deg);
    padding: 15rem 3rem;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      padding: 8rem 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 3.5rem;
    position: relative;
    @media screen and (max-width: 1000px) {
      flex-direction: row;
      margin: 1.5rem 0;
    }
  }
  &__imagecontainer {
    max-width: 18rem;
    overflow: hidden;
    @media screen and (max-width: 1000px) {
      position: relative;
    }
    &::before {
      position: absolute;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-family: "Gilroy-Bold";
      font-size: 3rem;
      z-index: 10;
      width: 2rem;
      height: 2rem;
    }
    &-left {
      &::before {
        content: "2019";
        top: 85%;
        left: 1.5rem;
        color: #0569da;
        @media screen and (max-width: 1000px) {
          left: 0;
        }
      }
    }
    &-center {
      &::before {
        content: "2018";
        top: 8%;
        left: 1.5rem;
        color: #ff5e1f;
        @media screen and (max-width: 1000px) {
          left: 0;
          top: 30%;
        }
      }
    }
    &-right {
      &::before {
        content: "2019";
        top: 85%;
        left: 1.5rem;
        color: #ff5e1f;
        @media screen and (max-width: 1000px) {
          left: 0;
        }
      }
    }
  }
  &__image {
    width: 25rem;
    position: relative;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
  }
  // &__afterblock {
  //   background-color: rgba(254, 231, 21, 0.4);
  //   width: 10rem;
  //   height: 10rem;
  //   position: absolute;
  //   &-left {
  //     top: 70%;
  //     right: 7%;
  //   }
  //   &-center {
  //     top: -7%;
  //     right: 7%;
  //   }
  //   &-right {
  //     top: 70%;
  //     right: 7%;
  //   }
  // }
  &__text {
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    &-left {
      @media screen and (max-width: 1000px) {
        margin-right: 2rem;
      }
    }
    &-center {
      @media screen and (max-width: 1000px) {
        margin-top: 2rem;
        margin-left: 2rem;
      }
    }
    &-right {
      @media screen and (max-width: 1000px) {
        margin-top: 2rem;
        margin-right: 2rem;
      }
    }
  }
  &__heading {
    max-width: 18rem;
    text-align: left;
    font-size: 1.25rem;
    display: inline;
  }
  &__p {
    max-width: 18rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
    line-height: 1rem;
  }
}
//album

.album {
  max-width: 100%;
  padding: 10rem 3rem;
  background-color: #101820ff;
  transform: skewY(-7deg);
  color: #fee715ff;
  & > * {
    transform: skewY(7deg);
    display: flex;
    flex-direction: column;
  }
  &__heading {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      position: relative;
      display: inline-block;
      left: 0;
      top: 0;
      width: 7rem;
      height: 7rem;
      background-color: #fee715ff;
      margin-right: 1rem;
    }
  }
}

//map
.map {
  padding: 10rem 10rem;
  margin-top: -20vh;
  background-color: #fee715ff;
  transform: skewY(-7deg);
  max-width: 100%;
  &__mapcontainer {
    display: flex;
    transform: skewY(7deg);
  }
  &__iframe {
    width: 100%;
    height: 100%;
  }
  &__details {
    margin-left: 5rem;
    padding-top: 5rem;
  }
  &__detail {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    &-svg {
      width: 2rem;
      height: 2rem;
    }
    &-text {
      font-size: 1rem;
    }
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}
