* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
}
body {
  margin: 0 auto;
  // padding: 0 1.25rem;
  font-family: "Lato", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  @media only screen and (max-width: 600px) {
    font-size: 56.25%;
  }
}
@mixin div-same-size-as-background-img($url) {
  background-image: url($url);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: percentage(image-height($url) / image-width($url));
}
#header {
  width: 100%;
  background-color: #070d2d;
  position: fixed;
  z-index: 10000;
}

.navbar {
  color: #fe5430;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  @media screen and (max-width: 400px) {
    padding: 1.5rem;
  }
  &__brand {
    display: inline-block;
    // margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    padding-right: 3.25rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-right: auto;
    & > *:not(:last-child) {
      margin-right: 2.5rem;
    }
    @media only screen and (max-width: 600px) {
      padding-right: 0;
    }
  }
  &__search {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.first {
  // background-color: rgba(#070d2d, 0.95);
  background-color: #070d2d;
  width: 100%;
  color: rgba(#fff, 0.6);
  padding: 2.5rem;
  //   background-image: radial-gradient(#070d2d, rgba(#070d2d, 0.8));
  &__heading {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-primary {
      // font-family: "Train One", cursive;
      // font-family: "Averia Libre", cursive;
      // font-family: "Josefin Sans", sans-serif;
      // font-family: "Oswald", sans-serif;
      // font-family: "Merienda", cursive;
      font-family: "Viga", sans-serif;
      // font-family: "Permanent Marker", cursive;
      letter-spacing: 0.15rem;
      display: flex;
      width: 45rem;
      // width: 32rem;
      font-size: 5.5rem;
      margin: 0 auto;
      color: #fff;
      text-align: center;
      @media screen and (max-width: 450px) {
        width: 40rem;
        font-size: 4.5rem;
      }
      @media screen and (max-width: 400px) {
        width: 35rem;
        font-size: 4rem;
      }
      @media screen and (max-width: 350px) {
        width: 30rem;
        font-size: 3.5rem;
      }
    }
    &-secondary {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
    }
  }
}
#toggleContainer {
  label {
    text-align: center;
    width: 70px;
  }
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95vw;
  position: absolute;
}
#container {
  margin-top: 8rem;
  height: 50vh;
  // width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  @media screen and (min-width: 600px) {
    margin-top: 6rem;
  }
}
#tilesContainer {
  min-height: 90vh;
  max-height: 100vh;
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: center;
}
.tileItem {
  width: 25rem;
  height: 25rem;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
  }
}
#galleryContainer {
  height: 500px;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
#loading-image {
  width: 10rem;
  height: 10rem;
}
#toggle {
  height: 10vh;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
}
#tilesView {
  min-height: 100vh;
  max-width: 100%;
  // width: 100vw;
  background: rgb(246, 210, 106);
  background: linear-gradient(
    111deg,
    rgba(246, 210, 106, 1) 0%,
    rgba(255, 159, 0, 1) 52%,
    rgba(251, 197, 100, 1) 100%
  );
  display: none;
  justify-content: center;
  align-items: center;
}
#galleryView {
  height: 100%;
  margin: 0 auto;
  border-radius: 4px;
  background-image: linear-gradient(270deg, #070d2d, #212841, #070d2d);
  margin: 2.5rem;
  // max-width: 100%;
  // background: rgb(246, 210, 106);
  // background: linear-gradient(
  //   111deg,
  //   rgba(246, 210, 106, 1) 0%,
  //   rgba(255, 159, 0, 1) 52%,
  //   rgba(251, 197, 100, 1) 100%
  // );
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 600px) {
    margin: 0.5rem;
  }
}
#mainView {
  height: auto;
  width: 25rem;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
  display: none;
  &:hover {
    transform: scale(1.02);
    transition: all 0.3s;
  }
}
#leftView {
  height: 25rem;
  width: 8%;
  // opacity: 0.5;
  border-radius: 5px;
  // transform: skewy(5deg);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  // clip-path: polygon(0 -5rem, 100% 0, 100% 100%, 0 95%);
  transform-origin: top right;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#rightView {
  height: 25rem;
  width: 8%;
  // opacity: 0.5;
  border-radius: 5px;
  // transform: skewy(-5deg);
  clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
  transform-origin: top left;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.navBtns {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
  @media only screen and (max-width: 1024px) {
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    opacity: 1;
    transition: all 1s;
    background-color: #fe5430;
  }
}
#navLeft {
  left: 20%;
  display: none;
  svg {
    width: 5rem;
    height: 5rem;
  }
}
#navRight {
  right: 20%;
  display: none;
  svg {
    width: 5rem;
    height: 5rem;
  }
}
#linkTag {
  z-index: 1;
  box-sizing: border-box;
}
.achievements {
  // height: 50rem;
  background-color: rgba(#070d2d, 0.95);
  background-color: #070d2d;
  color: #fff;
  padding: 3rem;
  @media screen and (max-width: 780px) {
    padding: 4rem;
  }
}
.aboutus {
  padding: 2rem 6rem 8rem 13%;
  font-size: 1.4rem;
  line-height: 18px;
  margin-bottom: 2rem;
  letter-spacing: 0.8px;
  @media screen and (max-width: 780px) {
    font-size: 1.6rem;
    letter-spacing: unset;
    padding: 2rem 1rem 8rem 13%;
  }
}
.ach_cards {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  & > *:not(:last-child) {
    margin-right: 3rem;
  }
  &__image {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  &__content {
    width: 100%;
    height: 30%;
    position: unset;
    display: block;
    text-align: unset;
    transform: none;
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    h2 {
      margin-top: 1rem;
    }
  }
  &__first {
    height: 22rem;
    width: 22rem;
    color: WHITE;
    display: flex;
    flex-direction: column;
    background-color: #fe5430;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    &:hover {
      transform: scale(1.1);
    }
    &-image {
      background-color: #fe5430;
      width: 7rem;
      height: 8rem;
      padding-bottom: 8rem;
    }
    &-content {
      padding-top: 2rem;
      margin-top: 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        // margin-bottom: 3rem;
        // margin-top: 4rem;
        font-size: 2rem;
      }
      span {
        display: flex;
        justify-content: center;
      }
    }
  }

  &__second {
    height: 22rem;
    width: 22rem;
    color: WHITE;
    display: flex;
    flex-direction: column;
    background-color: #fe5430;
    transition: all 0.3s ease-in;
    &:hover {
      transform: scale(1.1);
    }
    &-image {
      background-color: #fe5430;
    }
    &-content {
      margin-top: 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        // margin-bottom: 3rem;
        // margin-top: 4rem;
        font-size: 2rem;
      }
      span {
        display: flex;
        justify-content: center;
      }
    }
  }
  &__third {
    height: 22rem;
    width: 22rem;
    color: WHITE;
    display: flex;
    flex-direction: column;
    background-color: #fe5430;
    transition: all 0.3s ease-in;
    &:hover {
      transform: scale(1.1);
    }
    &-image {
      background-color: #fe5430;
    }

    &-content {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        // margin-bottom: 3rem;
        // margin-top: 4rem;
        font-size: 2rem;
      }
      span {
        display: flex;
        justify-content: center;
      }
      svg {
        width: 3rem;
        height: 3rem;
      }
      a:link,
      a:visited {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  @media screen and (max-width: 780px) {
    flex-direction: column;
    padding: auto;
    & > *:not(:last-child) {
      margin-right: 0rem;
      margin-bottom: 2rem;
    }
  }
}
.info {
  // height: 50rem;
  background-color: rgba(#070d2d, 0.95);
  background-color: #070d2d;
  padding: 4rem;
  padding-bottom: 1rem;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
  & > *:not(:last-child) {
    margin-right: 3rem;
  }
  &__area-card {
    background-image: linear-gradient(#fe5430, rgba(#fe5430, 0.75));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  &__image {
    height: 100%;
    background-size: cover;
    background-blend-mode: screen;
    transition: all 0.5s ease-in;
    z-index: 1;
  }
  &__content {
    position: absolute;
    // bottom: 0;
    left: 50%;
    color: #fff;
    text-align: center;
    transform: translate(-50%, 100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      padding-bottom: 1rem;
    }
  }
  &__first {
    height: 50rem;
    width: 25rem;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    background-color: #fe5430;
    backface-visibility: hidden;
    &-image {
      background-image: linear-gradient(#fe5430, rgba(#fe5430, 0.5)),
        url(../assets/coordinator.webp);
    }
    // &-content {
    //   display: flex;
    //   flex-direction: column;
    //   h1 {
    //     padding-bottom: 1rem;
    //   }
    // }
  }
  &__first:hover &__first-image {
    transform: translateY(-32%);
    background-image: url(../assets/coordinator.webp);
  }
  &__first:hover &__first-content {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -200%);
  }

  &__first:hover &__area-card {
    opacity: 1;
  }

  &__second {
    height: 50rem;
    width: 25rem;
    background-color: #fff;
    overflow: hidden;
    background-color: #fe5430;
    position: relative;
    &-image {
      background-image: linear-gradient(#fe5430, rgba(#fe5430, 0.5)),
        url(../assets/IMG_1639.webp);
    }
    &-content {
      margin-top: 2.5rem;
    }
  }
  &__second:hover &__second-image {
    transform: translateY(-32%);
    background-image: url(../assets/IMG_1639.webp);
  }
  &__second:hover &__second-content {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -200%);
  }
  &__second:hover &__area-card {
    opacity: 1;
  }

  &__third {
    height: 50rem;
    width: 25rem;
    background-color: #fff;
    position: relative;
    background-color: #fe5430;
    overflow: hidden;
    &-image {
      height: 100%;
      background-image: linear-gradient(#fe5430, rgba(#fe5430, 0.5)),
        url(../assets/members.webp);
      background-size: cover;
    }

    &-content {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        // margin-bottom: 3rem;
        // margin-top: 4rem;
        font-size: 2rem;
      }
      svg {
        width: 3rem;
        height: 3rem;
      }
      a:link,
      a:visited {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  &__third:hover &__third-image {
    transform: translateY(-32%);
    background-image: url(../assets/members.webp);
  }
  &__third:hover &__third-content {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -200%);
  }
  &__third:hover &__area-card {
    opacity: 1;
  }

  @media screen and (max-width: 780px) {
    flex-wrap: wrap;
    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
    &__image {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
    &__area-card {
      background-image: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    &__content {
      width: 100%;
      height: 30%;
      position: unset;
      display: block;
      text-align: unset;
      transform: none;
      opacity: 1;
      visibility: visible;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: none;
    }
    &__first {
      height: 40rem;
      width: 35rem;
      color: WHITE;
      display: flex;
      flex-direction: column;
      &-image {
        background-image: url(../assets/coordinator_phone.webp);
      }
    }
    &__first:hover &__first-image {
      transform: translateY(0);
      background-image: url(../assets/coordinator_phone.webp);
    }
    &__first:hover &__first-content {
      transform: translate(0);
    }
    &__first:hover &__area-card {
      opacity: unset;
    }

    &__second {
      height: 40rem;
      width: 35rem;
      color: WHITE;
      display: flex;
      flex-direction: column;
      &-image {
        background-image: url(../assets/IMG_1639_phone.webp);
      }
      &-content {
        margin-top: 0rem;
      }
    }
    &__second:hover &__second-image {
      transform: translateY(0);
      background-image: url(../assets/IMG_1639_phone.webp);
    }
    &__second:hover &__second-content {
      transform: translate(0);
    }
    &__third {
      height: 40rem;
      width: 35rem;
      color: WHITE;
      display: flex;
      flex-direction: column;
      &-image {
        background-image: url(../assets/members_phone.webp);
      }

      &-content {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
          // margin-bottom: 3rem;
          // margin-top: 4rem;
          font-size: 2rem;
        }
        span {
          display: flex;
          justify-content: center;
        }
        svg {
          width: 3rem;
          height: 3rem;
        }
        a:link,
        a:visited {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    &__third:hover &__third-image {
      transform: translateY(0);
      background-image: url(../assets/members_phone.webp);
      // background-image: linear-gradient(#fe5430, rgba(#fe5430, 0.5)),
      //   url(../assets/image-3.jpg);
    }
    &__third:hover &__third-content {
      transform: translate(0);
    }
  }
}
//album
.album {
  max-width: 100%;
  padding-left: 13.5%;
  background-color: #070d2d;
  color: #fe5430;
  padding-bottom: 1%;
  padding-top: 1%;
  &__heading {
    font-size: 3rem;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
    span {
      display: flex;
      align-items: flex-end;
    }
    &::before {
      content: "";
      position: relative;
      display: inline-block;
      left: 0;
      top: 0;
      width: 10rem;
      height: 10rem;
      background-color: #fe5430;
      margin-right: 1rem;
    }
  }
}
//gallery
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2%;
  @media only screen and (max-width: 780px) {
    flex-direction: column;
    width: 100%;
  }
}
.images {
  width: 80%;
  align-items: center;
  @media only screen and (max-width: 780px) {
    width: 85%;
    margin: auto;
    padding: inherit;
  }
  @media only screen and (min-width: 780px) and (max-width: 1050px) {
    width: 80%;
  }
}
.images img {
  margin: 0.35%;
  border: 1px solid transparent;
  filter: grayscale(100%);
  @media only screen and (max-width: 780px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 3%;
    filter: none;
  }
}
.images img:hover {
  transform: scale(1.03);
  transition: 0.4s;
  filter: grayscale(0%);
  z-index: 999;
  position: relative;
  @media only screen and (max-width: 780px) {
    transform: none;
    filter: none;
  }
}
.type1 {
  width: 57%;
  height: 55vh;
  @media only screen and (min-width: 780px) and (max-width: 1050px) {
    height: 35vh;
  }
}
.type2 {
  width: 38%;
  height: 55vh;
  @media only screen and (min-width: 780px) and (max-width: 1050px) {
    height: 35vh;
  }
}
.type3 {
  width: 96%;
  height: 85vh;
  @media only screen and (min-width: 780px) and (max-width: 1050px) {
    height: 45vh;
  }
}

//map
.map {
  display: flex;
  padding: 10rem 10rem 8rem 10rem;
  background-color: #070d2d;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    padding: 10rem 5rem;
  }
  &__image {
    width: 35%;
    border: 2px solid #fe5430;
    border-radius: 4px;
    padding: 1rem;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 900px) {
      width: 70%;
    }
    @media screen and (max-width: 780px) {
      width: 85%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
    }
    // @media screen and (max-width: 900px) {
    //   width: 50%;
    //   min-height: 20rem;
    // }
    // @media screen and (max-width: 900px) {

    // }
    &-img {
      display: none;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    &:hover {
      transform: scale(1.02);
    }
  }
  &__loading {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
    padding: 6rem;
    // @media screen and (max-width: 900px) {
    //   // width: 15rem;
    //   // height: 15rem;
    //   padding: 6rem;
    // }
  }
  &__link {
    color: #fe5430;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    &:link,
    &:visited {
      text-decoration: none;
    }
  }
  &__content {
    flex: 1;
    color: #fe5430;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
    hyphens: auto;
    line-height: 1.75rem;
    letter-spacing: 0.02rem;
    @media screen and (max-width: 900px) {
      margin-left: 0;
      margin-top: 5rem;
      padding: 0 5rem;
    }
    @media screen and (max-width: 600px) {
      padding: 0 3rem;
    }
    &-heading {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    &-text {
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.03);
      }
    }
    &-address {
      svg {
        flex: 0 0 3rem;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
      }
    }
    &-phone {
      margin-top: 2rem;
      svg {
        flex: 0 0 3rem;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
      }
    }
  }
}
.u-margin-bottom-medium {
  margin-bottom: 6rem;
}
.u-margin-left-verysmall {
  margin-left: 0.2rem;
}
//footer
.footer {
  text-align: center;
  color: lightgrey;
  width: 100%;
  height: auto;
  padding: 1rem 0rem 1.5rem 0;
  // background-color: #212841;
  background-image: linear-gradient(270deg, #070d2d, #212841, #070d2d);
  @media screen and (max-width: 780px) {
    padding: 1.5rem 0 0 0;
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 1.75rem;
    }
    &-svg {
      width: 2.25rem;
      height: 2.25rem;
    }
    @media screen and (max-width: 780px) {
      padding-bottom: 1rem;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 780px) {
      flex-direction: column;
    }
  }
  &__navigation {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: inline-block;
    @media screen and (max-width: 780px) {
      padding-top: 0;
      padding-bottom: 0rem;
    }
  }
  &__item:not(:last-child) {
    margin-right: 1.5rem;
  }
  &__item {
    display: inline-block;
    font-size: 1.2rem;
  }
  &__item:hover {
    transform: scale(1.2);
    transition: 0.3s;
  }
  &__link:hover {
    color: #fe5430;
  }
  &__item a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    &:hover {
      color: #fe5430;
    }
  }
  &__college {
    display: inline-block;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-right: 7rem;
    margin-left: 7rem;
    @media only screen and (max-width: 780px) {
      margin: auto;
    }
    @media screen and (max-width: 780px) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
}
.webdev a {
  color: white;
}
.build {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @media screen and (max-width: 780px) {
    padding-top: 0rem;
  }
}

///////////////
.container a {
  color: lightgrey;
}

.navbar a {
  color: #fe5430;
  text-decoration: none;
}

//scroll

.scrollup {
  position: fixed;
  bottom: 4rem;
  right: 2.5rem;
  z-index: 100;
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      height: 4rem;
      width: 3rem;
      display: block;
    }
    svg {
      width: 100%;
      height: 100%;
      color: #fe5430;
    }
  }
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
  visibility: visible;
}

//popup
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: all 0.3s;
  &:target {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  &__member {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    transition: all 0.3s;
    & > *:not(:last-child) {
      margin-right: 0.5rem;
    }
    img {
      width: 3rem;
      height: 3rem;
      color: #fff;
      @media screen and (max-width: 800px) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  &__memberlist {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
    padding: 3rem;
    padding-right: 6rem;
    font-size: 1.5rem;
    a {
      &:link,
      &:visited {
        text-decoration: none;
        color: #fff;
      }
    }
    @media screen and (max-width: 900px) {
      font-size: 1.25rem;
    }
    @media screen and (max-width: 700px) {
      flex-wrap: nowrap;
    }
  }
  &__content {
    color: orange;
    width: 75%;
    height: 60rem;
    background-color: #fff;
    position: relative;
    @media screen and (max-width: 1000px) {
      width: 85%;
    }
    svg {
      width: 3rem;
      height: 3rem;
      position: absolute;
      right: 2rem;
      top: 2rem;
      color: #fff;
      z-index: 10000;
      cursor: pointer;
      @media screen and (max-width: 900px) {
        width: 2.5rem;
        height: 2.5rem;
      }
      @media screen and (max-width: 780px) {
        width: 2.25rem;
        height: 2.25rem;
      }
      @media (min-width: 700px) and (max-width: 780px) {
        top: 0.75rem;
        right: 0.75rem;
      }
    }
  }
  &__close-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: -1;
  }
  &:target &__close-bg {
    display: block;
  }
}
.webdev-area-popup {
  // background-image: linear-gradient(#070d2d, #212841);
  background-image: linear-gradient(270deg, #070d2d, #212841, #070d2d);
  // background-image: linear-gradient(#070d2d, rgba(#070d2d, 0.75));
  position: relative;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
}
.area-popup {
  // background-image: linear-gradient(#070d2d, #212841);
  background-image: linear-gradient(#fe5430, rgba(#fe5430, 0.75));
  position: relative;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

//web dev
.webdevpopup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: all 0.3s;
  &:target {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  &__devteam {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 10%;
    // background-color: #fff;
    color: #fe5430;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 6rem;
    font-family: "Permanent Marker";
    letter-spacing: 2px;
    @media screen and (max-width: 750px) {
      left: 2.5%;
      font-size: 4rem;
      letter-spacing: unset;
    }
    @media screen and (max-width: 450px) {
      left: 1%;
      font-size: 3.5rem;
      top: 22.5%;
      letter-spacing: unset;
    }
  }
  &__content {
    color: orange;
    width: 75%;
    height: 60rem;
    background-color: #fff;
    position: relative;
    @media screen and (max-width: 1000px) {
      width: 85%;
    }
    svg {
      width: 3rem;
      height: 3rem;
      position: absolute;
      right: 2rem;
      top: 2rem;
      color: #fff;
      z-index: 10000;
      cursor: pointer;
      @media screen and (max-width: 900px) {
        width: 2.5rem;
        height: 2.5rem;
      }
      @media screen and (max-width: 780px) {
        width: 2.25rem;
        height: 2.25rem;
      }
      @media (min-width: 700px) and (max-width: 780px) {
        top: 0.75rem;
        right: 0.75rem;
      }
    }
  }
  &__cardlist {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &__card {
    position: relative;
    width: 50%;
    height: 17rem;
    overflow: hidden;
    @media screen and (max-width: 750px) {
      width: 70%;
    }
    @media screen and (max-width: 450px) {
      width: 75%;
    }
    &-first {
      &::before {
        background-image: url(../assets/arjun.webp);
      }
    }
    &-second {
      &::before {
        background-image: url(../assets/arihant.webp);
      }
    }
    &-third {
      &::before {
        transform: scaleX(-1);
        background-image: url(../assets/harshit.webp);
      }
    }
    &-svgs {
      position: absolute;
      top: 0;
      width: 25%;
      z-index: 100;
      background-color: rgba(#070d2d, 0.3);
      border-radius: 5px;
      padding: 0.5rem 0 0.25rem 0;
      @media screen and (max-width: 500px) {
        width: 29%;
      }
      & > *:first-child {
        margin-left: 1rem;
        @media screen and (max-width: 800px) {
          margin-left: 0.5rem;
        }
      }
      & > *:not(:last-child) {
        margin-right: 1.25rem;
        @media screen and (max-width: 810px) {
          margin-right: 0.8rem;
        }
        @media screen and (max-width: 420px) {
          margin-right: 0.4rem;
        }
      }
      &--icon {
        height: 1.75rem;
        width: 1.75rem;
        color: #fff;
        @media screen and (max-width: 900px) {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }
  &__card:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-size: cover;
    filter: grayscale(100%);
  }
  &__card:hover::before {
    filter: none;
  }

  &__name {
    position: absolute;
    bottom: 2%;
    right: 20%;
    // font-size: 5rem;
    font-weight: 900;
    color: #fff;
    z-index: 2;
    font-size: 7rem;
    font-family: "Montserrat", sans-serif;
    @media screen and (max-width: 950px) {
      font-size: 6rem;
    }
    @media screen and (max-width: 550px) {
      font-size: 5.5rem;
      right: 15%;
    }
    @media screen and (max-width: 420px) {
      font-size: 4.25rem;
      right: 15%;
    }
    @media screen and (max-width: 350px) {
      font-size: 4rem;
      right: 15%;
    }
  }
  &__detail {
    position: absolute;
    right: 0;
    background-color: #fff;
    height: 100%;
    width: 12.5%;
    writing-mode: vertical-rl;
    filter: none;
    &-roll {
      position: absolute;
      top: 10%;
      left: 2%;
      font-size: 1.25rem;
      color: #070d2d;
      z-index: 2;
      font-family: "Montserrat", sans-serif;
    }
    &-round {
      position: absolute;
      bottom: 10%;
      right: 10%;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      // background-color: #fe5430;
      display: block;
      &--first {
        // background-color: #28b485;
      }
    }

    &-background {
      position: absolute;
      bottom: 12%;
      right: 12%;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      // background-image: radial-gradient(#fe5430, rgba(#fe5430, 0.8));
      transition: all 0.3s ease;
      @media screen and (max-width: 500px) {
        bottom: 18%;
        right: 10%;
      }
      @media screen and (max-width: 430px) {
        bottom: 19%;
        right: 5%;
      }
      &--1 {
        // background-image: radial-gradient(#06c1ff, #06c1ff);
        // background-image: radial-gradient(#655b50, #655b50);
        // background-image: radial-gradient(#5f85db, #5f85db);
        // background-image: radial-gradient(#ff004d, #ff004d);
        background-image: radial-gradient(#17b978, #17b978);
      }
      &--2 {
        background-image: radial-gradient(#e42a5b, #e42a5b);
        // background-image: radial-gradient(#fd5459, #fd5459);
      }
      &--3 {
        // background-image: radial-gradient(#fd8c04, #fd8c04);
        background-image: radial-gradient(#fc8621, #fdb827);
        // background-image: radial-gradient(#fdb827, #fdb827);
        // background-image: radial-gradient(#185adb, #185adb);
      }
    }
  }
  &__card:hover &__detail &__detail-background {
    transform: scale(12);
    @media screen and (max-width: 900px) and (min-width: 750px) {
      transform: scale(10);
    }
    @media screen and (max-width: 650px) {
      transform: scale(10);
    }
    @media screen and (max-width: 500px) {
      transform: scale(8.4);
    }
    @media screen and (max-width: 430px) {
      transform: scale(8.3);
    }
  }
  &__card:hover &__detail &__detail-roll {
    color: #fff;
  }
  &__close-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: -1;
  }
  &:target &__close-bg {
    display: block;
  }
}
