* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
}
body {
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: "Lato", sans-serif;
}
html {
  font-size: 62.5%;
}
@mixin div-same-size-as-background-img($url) {
  background-image: url($url);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: percentage(image-height($url) / image-width($url));
}
#header {
  width: 100%;
  background-color: #070d2d;
}

.navbar {
  color: #fe5430;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  &__brand {
    display: inline-block;
    // margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    padding-right: 3.5rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-right: auto;
    & > *:not(:last-child) {
      margin-right: 2.5rem;
    }
  }
  &__search {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.first {
  // background-color: rgba(#070d2d, 0.95);
  background-color: #070d2d;
  width: 100%;
  color: rgba(#fff, 0.6);
  padding: 2.5rem;
  //   background-image: radial-gradient(#070d2d, rgba(#070d2d, 0.8));
  &__heading {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-primary {
      display: flex;
      width: 32rem;
      font-size: 4rem;
      margin: 0 auto;
      color: #fff;
    }
    &-secondary {
      margin-top: 1.5rem;
      font-size: 1.5rem;
    }
  }
}
#toggleContainer {
  label {
    text-align: center;
    width: 70px;
  }
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95vw;
  position: absolute;
}
#container {
  margin-top: 2rem;
  height: 60vh;
  // width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
#tilesContainer {
  min-height: 90vh;
  max-height: 100vh;
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: center;
}
.tileItem {
  width: 25rem;
  height: 25rem;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
  }
}
#galleryContainer {
  height: 500px;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
#toggle {
  height: 10vh;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
}
#tilesView {
  min-height: 100vh;
  max-width: 100%;
  // width: 100vw;
  background: rgb(246, 210, 106);
  background: linear-gradient(
    111deg,
    rgba(246, 210, 106, 1) 0%,
    rgba(255, 159, 0, 1) 52%,
    rgba(251, 197, 100, 1) 100%
  );
  display: none;
  justify-content: center;
  align-items: center;
}
#galleryView {
  height: 100%;
  margin: 0 auto;
  border-radius: 4px;
  background-image: radial-gradient(#212841, #161a37);
  margin: 2.5rem;
  // max-width: 100%;
  // background: rgb(246, 210, 106);
  // background: linear-gradient(
  //   111deg,
  //   rgba(246, 210, 106, 1) 0%,
  //   rgba(255, 159, 0, 1) 52%,
  //   rgba(251, 197, 100, 1) 100%
  // );
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 600px) {
    margin: 0.5rem;
  }
}
#mainView {
  height: auto;
  width: 30rem;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: #eb9100;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
  &:hover {
    transform: scale(1.02);
    transition: all 1s;
  }
}
#leftView {
  height: 30rem;
  width: 8%;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  &:hover {
    opacity: 1;
    transition: all 1s;
  }
}
#rightView {
  height: 30rem;
  width: 8%;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  &:hover {
    opacity: 1;
    transition: all 1s;
  }
}
.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
  @media only screen and (max-width: 1024px) {
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    opacity: 1;
    transition: all 1s;
    // background-color: #fe5430;
  }
}
#navLeft {
  left: 25%;
}
#navRight {
  right: 25%;
}
#linkTag {
  z-index: 1;
  box-sizing: border-box;
}
.info {
  // height: 50rem;
  background-color: rgba(#070d2d, 0.95);
  background-color: #070d2d;
  padding: 4rem;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  & > *:not(:last-child) {
    margin-right: 3rem;
  }
  @media only screen and (max-width: 780px) {
    // flex-direction: column;
    flex-wrap: wrap;
    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }
  &__image {
    height: 100%;
    background-size: cover;
    background-blend-mode: screen;
    transition: all 0.5s ease-in;
  }
  &__content {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in 0.2s;
  }
  &__first {
    height: 50rem;
    width: 25rem;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    background-color: #fe5430;
    @media only screen and (max-width: 780px) {
      height: 35rem;
      width: 35rem;
      overflow: hidden;
      position: relative;
      background-color: #fe5430;
      color: WHITE;
    }
    &-image {
      background-image: linear-gradient(#fe5430, rgba(#fe5430, 0.5)),
        url(../assets/image-1.jpg);
    }
  }
  &__first:hover &__first-image {
    transform: translateY(-50%);
    background-image: url(../assets/image-1.jpg);
  }
  &__first:hover &__first-content {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -200%);
  }

  &__second {
    height: 50rem;
    width: 25rem;
    background-color: #fff;
    overflow: hidden;
    background-color: #fe5430;
    position: relative;
    @media only screen and (max-width: 780px) {
      height: 35rem;
      width: 35rem;
      overflow: hidden;
      position: relative;
      // margin: 3%;
      background-color: #fe5430;
      color: WHITE;
    }
    &-image {
      background-image: linear-gradient(#fe5430, rgba(#fe5430, 0.5)),
        url(../assets/image-2.jpg);
    }
  }
  &__second:hover &__second-image {
    transform: translateY(-50%);
    background-image: url(../assets/image-2.jpg);
  }
  &__second:hover &__second-content {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -200%);
  }
  &__third {
    height: 50rem;
    width: 25rem;
    background-color: #fff;
    position: relative;
    background-color: #fe5430;
    overflow: hidden;
    @media only screen and (max-width: 780px) {
      height: 35rem;
      width: 35rem;
      overflow: hidden;
      position: relative;
      // margin: 3%;
      background-color: #fe5430;
      color: WHITE;
    }
    &-image {
      height: 100%;
      background-image: linear-gradient(#fe5430, rgba(#fe5430, 0.5)),
        url(../assets/image-3.jpg);
      background-size: cover;
    }
  }
  &__third:hover &__third-image {
    transform: translateY(-50%);
    background-image: url(../assets/image-3.jpg);
  }
  &__third:hover &__third-content {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -200%);
  }
}
//album
.album {
  max-width: 100%;
  padding-left: 13.5%;
  background-color: #070d2d;
  color: #fe5430;
  padding-bottom: 1%;
  padding-top: 1%;
  &__heading {
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    &::before {
      content: "";
      position: relative;
      display: inline-block;
      left: 0;
      top: 0;
      width: 10rem;
      height: 10rem;
      background-color: #fe5430;
      margin-right: 1rem;
    }
  }
}
//gallery
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2%;
  @media only screen and (max-width: 780px) {
    flex-direction: column;
    width: 100%;
  }
}
.images {
  width: 80%;
  align-items: center;
  @media only screen and (max-width: 780px) {
    width: 85%;
    margin: auto;
    padding: inherit;
  }
  @media only screen and (min-width: 780px) and (max-width: 1050px) {
    width: 80%;
  }
}
.images img {
  margin: 0.1%;
  border: 1px solid transparent;
  filter: grayscale(100%);
  @media only screen and (max-width: 780px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 3%;
    filter: none;
  }
}
.images img:hover {
  transform: scale(1.04);
  transition: 0.4s;
  filter: grayscale(0%);
  z-index: 999;
  position: relative;
  @media only screen and (max-width: 780px) {
    transform: none;
    filter: none;
  }
}
.type1 {
  width: 57%;
  height: 55vh;
  @media only screen and (min-width: 780px) and (max-width: 1050px) {
    height: 35vh;
  }
}
.type2 {
  width: 38%;
  height: 55vh;
  @media only screen and (min-width: 780px) and (max-width: 1050px) {
    height: 35vh;
  }
}
.type3 {
  width: 96%;
  height: 85vh;
  @media only screen and (min-width: 780px) and (max-width: 1050px) {
    height: 45vh;
  }
}
